/* CSS Reset */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, freesans, sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
}


/* Using auto margins to horizontally center content
   I did not use margin: 0 auto; or margin: auto because
   I don't want to affect top and bottom margins with this class. */
.center {
  margin-left: auto;
  margin-right: auto;
}

.clear-float {
  clear: both;
}

.float-left {
  float: left;
}

.super-wide { 
    width: 1250px;
}

.border-color-red { 
    border-color: #eb5634;
}

.border-color-black { 
    border-color: #000;
}

.border-color-light-blue { 
    border-color: #34ebe8;
}

.border-color-blue { 
    border-color: #143ee3
}

.border-color-yellow { 
    border-color: #e3bd14;
}

.border-color-dark-blue  {
    border-color: #0d2a82;
}

.border-color-deep-blue  {
    border-color: #041340;
}

.border-color-green { 
    border-color: #3e8c29
}

.border-color-dark-green { 
    border-color: #134a04;
}

.border-color-purple { 
    border-color: #5f0d75;
}

/* Set up top-level navigation */
.horizontal-nav {
  list-style-type: none;
}

.horizontal-nav > li {
  float: left;
}

.nav-item div {
  height: 11px;
  padding: 10px 20px;
}
.nav-item div:hover {
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

/* header component */
header {
  width: 100%;
  height: 35px;
}

#header-nav > ul > li {
  height: 35px;
  border-right: 1px #ccc solid;
}

/* BBC Image */
#header-nav > ul > li:first-child {
  background: url("/assets/blq-orbit-blocks_grey.svg") no-repeat center center;
  width: 90px;
  padding: 0 15px;
}

/* Search  */
#header-nav > ul > li:last-child {
  border-right: none;
}

/* Sign in image and menu item */
#header-nav #sign-in {
  display: block;
  width: 145px;
  background: url(../assets/idcta-icon-sprite.svg);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position-x: 10px;
  background-position-y: 8px;
}

#header-nav #sign-in a {
  margin-left: 20px;
}

#header-nav #more i { 
  margin-top: -2px;
}

#header-nav #more a { 
  margin-right: 40px;
}

#sub-header {
  background-color: #bb1919;
  height: 56px;
}

#news-title {
  padding: 10px;
  padding-left: 45px;
}

#search {
  background-color: #ccc;
  border: none;
  height: 23px;
}

#search-icon {
  height: 22px;
  background-color: #ccc;
  margin-top: 5px;
}

#search-icon img { 
  height: 16px;
  padding: 2px;
  padding-top: 0px;
}

.small-top-margin {
  margin-top: 5px;
}

.medium-left-margin {
  margin-left: 15px;
}
